@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap');

:root {
  --morado: #b446f8;
  --bg-color: #222;
  --height-navbar: 75px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Mooli', cursive;
  background-color: var(--bg-color);
  color: var(--morado);
  margin-top: calc(var(--height-navbar));
}

/*?---------------------------------------NAVBAR---------------------------------------?*/

.navbar {
  width: 100%;
  height: var(--height-navbar);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  color: var(--morado);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  z-index: 1;
}

.navbar a:active {
  color: #fff;
}

ul {
  display: flex;
  gap: 50px;
}

li {
  display: inline-block;
  position: relative;
  transition: all 0.4s ease;
}

li a {
  color: var(--morado);
  text-decoration: none;
  font-size: 16px;
  transition: all 0.4s ease;
}

li:hover {
  transition: all 0.4s ease;
}

li:hover a {
  color: #fff;
  transition: all 0.4s ease;
}


li::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background: linear-gradient(90deg, #b446f8, #ECA400);
  transform-origin: bottom right;
  transition: transform 0.5s ease;
}

li:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  transition: transform 0.5s ease;
}

.navbar li.active a {
  color: #fff;
}

.navbar li.active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  transition: transform 0.5s ease;
}

/*?---------------------------------------SECTIONS---------------------------------------?*/

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

section:first-child {
  height: calc(100vh - var(--height-navbar));
}

hr {
  width: 50%;
  height: 2px;
  background: linear-gradient(90deg, #b446f8, #ECA400);
  border: none;
}

.container {
  height: 100%;
  width: 100%;
  display: block;
  justify-content: center;
}

.title {
  margin: 25px auto;
  width: fit-content;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 5px;
  text-transform: uppercase;
  background: linear-gradient(90deg, #b446f8, #ECA400);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

/*?---------------------------------------PROYECTOS---------------------------------------?*/

.proyectos {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
  grid-gap: 10px;
  background-color: #444;
  padding: 20px;
  border-radius: 20px;
  width: 90%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-color: #222;
  padding: 20px;
  border-radius: 20px;
  height: 12em;
  width: 12em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease;
}

.item:hover {
  transform: scale(1.1);
  transition: all 0.4s ease;
  cursor: pointer;
}

.circle {
  width: 100px;
  height: 100px;
  border: 2px solid transparent;
  /* Hacemos el borde transparente */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  background-image: linear-gradient(90deg, #b446f8, #ECA400);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.circle:hover {
  animation: spin 1s linear infinite;
  /* Hacemos la animación */
  border: 2px solid #fff;
  /* Ponemos el borde blanco */
  border-top-color: transparent;
  /* Ponemos el borde transparente */
  border-radius: 50%;
  /* Hacemos el borde circular */
}

.content {
  width: 80px;
  height: 80px;
  background-color: var(--bg-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  font-family: 'Inter', sans-serif;
  width: auto;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--morado);
  transition: all 0.4s ease;
}

/*?---------------------------------------ANIMATION---------------------------------------?*/

/*crea una animacion de que de la vuelta el circulo*/


.name2 {
  width: auto;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--morado);
  transition: all 0.4s ease;
}

.item:hover .name2 {
  background: linear-gradient(90deg, #b446f8, #ECA400);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  transition: all 0.4s ease;
}

.name {
  font-family: 'Inter', sans-serif;
  width: auto;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--morado);
  transition: all 0.4s ease;
}